<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>{{movieInfo.title}}</h1>
                <div class="card-movie">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{movieInfo.genre}}</p>
                        <p class="card-director">Directror: {{movieInfo.director}}</p>
                    </div>
                    <div class="second-info">
                        <p class="card-year">Year: {{movieInfo.year}}</p>
                        <p class="card-ranking">Rating: <span id="stars">
                                {{#each ratingArray}}
                                &#x2605;
                                {{/each}}
                            </span>
                        </p>
                    </div>

                </div>

                <p class="disc">Description: {{movieInfo.description}}</p>
            </div>
            {{#if isOwner}}
            <div class="details-btn">
                <a href="/movies/{{movieInfo._id}}/edit">
                    <button id="edit-button">Edit</button>
                </a>

                <a href="/movies/{{movieInfo._id}}/delete">
                    <button id="delete-button">Delete</button>
                </a>
            </div>
            {{/if}}
        </div>
        <div class="card_right">
            <img src="{{movieInfo.imageUrl}}" alt="{{movieInfo.title}}">
        </div>
    </div>

    <div class="main-cast-card">
        {{#each movieInfo.casts}}
        <div class="cast-card">
            <div class="card-img">
                <img src="{{imageUrl}}" alt="{{name}}">
            </div>
            <div class="cast-info">
                <h1>{{name}}</h1>
                <h3>Age: {{age}}</h3>
                <h3>Born: {{born}}</h3>
                <h3>Name in Movie: {{nameInMovie}}</h3>
            </div>
        </div>
        {{/each}}
    </div>

</section>